* {
    font-family: 'Open Sans', sans-serif;
    line-height: normal;
    color: var(--main-font-color);
}

.full-screen {
    height: 100vh;
    width: 100%;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.players {
    flex-direction: column;
    display: flex;
}
.playercard {
    /* display: flex; */
    flex-wrap: wrap;
    max-width: 400px;
}

.ready {
    flex: 1 1 calc(33.33% - 30px);
    margin: 5px;
    box-sizing: border-box;
    min-width: 40px;

    /* padding: 20px 20px; */
    text-align: center;
}

.readydot {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}
/* .green {
    background-color: greenyellow;
} */

.username {
    flex: 1 1 calc(33.33% - 30px);
    margin: 5px;
    box-sizing: border-box;
    min-width: 140px;

    /* padding: 20px 20px; */
    text-align: center;
}

.progressbar {
    flex: 1 1 calc(33.33% - 30px);
    margin: 10px;
    box-sizing: border-box;
    min-width: 250px;

    padding: 10px 10px;
    text-align: center;
}

.playerground {
    height: 50vh;
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(250, 241, 241);
}

.no-select {
    user-select: none;
}

.display-none {
    display: none;
}

input {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    outline: none;
    background-color: var(--white);
    border: 1px solid var(--input-border-color);
}

input::placeholder {
    color: var(--input-placeholder-color);
}

:root {
    --main-font-color: #333;
    --main-button-background-color: lightgrey;
    --main-button-border-color: #999;
    --input-border-color: #999;
    --input-placeholder-color: #888;
    --white: #fff;
}

button {
    height: 39px;
    font-size: 14px;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    text-transform: uppercase;
    padding: 0 15px;
    margin-left: 10px;
}

p {
    text-align: center;
}

progress {
    background-color: rgb(236, 247, 207);
    border: 0;
    height: 10px;
    border-radius: 5px;
}
